.popup-img__photo{
  max-width: 816px;
  max-height: 540px;
  height: inherit;
  z-index: 3;
}

@media screen and (max-width: 1000px){
  .popup-img__photo{
    max-width: 697px;
    max-height: 428px;
  }
}
@media screen and (max-width: 800px){
  .popup-img__photo{
    max-width: 500px;
    max-height: 428px;
  }
}
@media screen and (max-width: 582px){
  .popup-img__photo{
    max-width: 392px;
    max-height: 428px;
  }
}
@media screen and (max-width: 430px){
  .popup-img__photo{
    max-width: 304px;
    max-height: 428px;
  }
}
@media screen and (max-width: 320px){
  .popup-img__photo{
    min-width: 240px;
    max-height: 299px;
  }
}
