.profile__edit {
  padding-top: 32px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/Edit-Button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  max-width: 24px;
}
.profile__edit:hover{
  opacity: 0.6;
  transition: .5s;
}
.profile__edit:not(hover){
  transition: .5s;
}

@media screen and (max-width:320px){
  .profile__edit{
    min-width: 18px;
    margin-top: 11px;
    margin-left: 9px;
    background-image: url(../../../images/Edit-Button-min.svg);
  }
}
