.profile__status {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 15px;
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width:580px){
  .profile__status{
    margin: 14px auto 0 auto;
  }
}
@media screen and (max-width:381px){
  .profile__status{
    font-size: 14px;
    line-height: 17px;
    margin: 3px auto 0 auto;
    max-width: 211px;
  }
}
