.popup__save {
  all: unset;
  cursor: pointer;
  min-width: 358px;
  min-height: 50px;
  background-color: black;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 2px;
}

.popup__save:hover{
  opacity: .8;
}
