.profile__edit {
  padding-top: 28px;
  margin-top: 5px;
  margin-left: 15px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/Edit-Button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  min-width: 24px;
  transition: .5s;
  z-index: 1;
}
.profile__edit:hover{
  opacity: 0.6;
}

@media screen and (max-width:320px){
  .profile__edit{
    min-width: 18px;
    margin-top: 11px;
    margin-left: 9px;
    background-image: url(../../../images/Edit-Button-min.svg);
  }
}
