.popup__edit{
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  max-height: 182px;
  height: inherit;
}
@media screen and (max-width: 600px) {
  .popup__edit{
    padding-top: 71px;
  }
}
