.card__like {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
  margin-bottom: 3px;
  margin-top: 15px;
  transition: .25s;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}
.card__like:hover{
  opacity: 0.5;
}
/* .card__like:active{
  opacity: 1;
  background-image: url(../../../images/like-black.svg);
} */
