.popup__close-icon{
  position: absolute;
  top: -38px;
  right: -38px;
  max-width: 32px;
  min-height: 32px;
}
.popup__close-icon:hover{
  opacity: 0.6;
}
@media screen and (max-width: 600px) {
  .popup__close-icon{
    max-width: 20px;
    min-height: 20px;
    top: -33px;
    right: 0;
  }
}
